<header>
    <div>
    <%= link_to "勤怠システム", root_path, id: "logo" %>
        <nav>
            <ul class = example>
                <li><%= link_to "トップへ", root_path %></li>
                <li><%= link_to "ログイン", "#" %></li>
            </ul>
        </nav>
    </div>
</header>